---
import { YouTube } from "@astro-community/astro-embed-youtube";
import { repository } from "../../package.json";
import FormattedDate from "../components/FormattedDate.astro";
import Title from "../components/Title.astro";
import { formatDuration } from "../utils/formatDuration";
import MetaList from "../components/media/MetaList.astro";
import MetaItem from "../components/media/MetaItem.astro";
import type { BaseMediaProps } from "../types/media";

const {
  title,
  description,
  publishedAt,
  image,
  duration,
  videoUrl,
  poster,
  slug,
  tags,
  speakers,
  categories,
} = Astro.props;
---

<article data-pagefind-body data-pagefind-sort>
  <div class="hero-image" data-pagefind-meta={`image:${image?.src}`}>
    <YouTube id={videoUrl ?? ""} class="video-embed" poster={poster?.src} />
    <div class="background" style={`background-image: url('${image?.src}')`}>
  <div class="scrim"></div>
    </div>
  </div>
  <Title data-pagefind-meta="title">{title}</Title>
  <div class="content">
        <MetaList>
      {speakers && (
        <MetaItem icon="fluent:person-20-filled" speakers={speakers} label="Speakers">
        </MetaItem >
      )}
      {tags && (
        <MetaItem icon="fluent:tag-20-filled" tags={tags} label="Tags">
        </MetaItem >
      )}
      {publishedAt && (
        <MetaItem icon="fluent:calendar-20-filled" label="Published">
<FormattedDate date={publishedAt} data-pagefind-sort="date" />
        </MetaItem >
      )}
      {duration && (
        <MetaItem icon="fluent:clock-20-filled">
{formatDuration(duration)}
        </MetaItem >
      )}
      {videoUrl && (
        <MetaItem icon="fluent:window-new-20-filled">
 <a href={videoUrl} title={title}>Link to video</a>
        </MetaItem >
      )}
        <MetaItem icon="fluent:edit-20-filled">
<a href={`${repository.url}/tree/main/src/content/media/${slug}/index.mdx`}
          >Edit on GitHub</a>
        </MetaItem >
    </MetaList>
    <div class="prose" data-pagefind-weight="3">
      <slot />
    </div>
  </div>
</article>

<style>
  .hero-image {
    position: relative;
    width: 100vw;
    overflow: hidden;
    height: auto;
    margin: -1.5rem -1.5rem 0rem -1.5rem;
  }
  .hero-image .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-size: cover;
    background-position: center center;
    opacity: 1;
    overflow: hidden;
  }
  .hero-image .background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2.5rem);
  }

  .scrim {
    content: "";
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    top: 0;
    background: var(--scrim-gradient);
  }
  .hero-image .video-embed {
    border-radius: 0px;
    margin: 4rem auto 2rem;
    z-index: 100;
    aspect-ratio: auto 16/9;
    width: 100%;
    height: auto;
    max-width: 900px;
    box-shadow: 0 4px 8px var(--image-shadow), 
   0 0px 0px var(--image-shadow);
    border-radius: 6px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .prose {
    margin: 0;
    color: var(--body-text);
    overflow-wrap: anywhere;
  }
  :global(.prose h1),
  :global(.prose h2),
  :global(.prose h3),
  :global(.prose h4),
  :global(.prose h5),
  :global(.prose h6) {
    font-size: 1em;
  }
  .meta-data {
    color: var(--meta-data);
    padding: 1rem 0em;
    padding-left: 1.8rem;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem 0;
    font-size: 1.1rem;
    justify-content: baseline;
  }
  .meta-data a {
    color: var(--meta-data-link);
  }

  .meta-data a:hover {
    color: var(--accent-hover);
  }
  .meta-data span {
    color: var(--meta-data);
  }
  .tags,
  .speakers {
    line-height: normal;
    align-items: baseline;
    margin-block-start: 0;
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    gap: 0.5em 0em;
  }
  .break {
    display: none;
  }
  .meta-data [data-icon] {
    margin-right: 0.25em;
    position: absolute;
    transform: translateX(-1.8rem);
  }
  .meta-data span.inline [data-icon] {
    margin-top: 0.2em;
  }
  .content {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 1rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    grid-template-columns: minmax(100px, 200px) 1fr;
  }

  @media screen and (max-width: 1024px) {
    .hero-image {
      height: auto;
      margin: 0;
    }
    .hero-image .video-embed {
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      border-radius: 0px;
    }
    .meta-data {
      padding-left: 0;
      flex-direction: row;
      gap: 0em 2rem;
    }
    .meta-data [data-icon] {
      position: relative;
      transform: translateX(0);
    }
    .tags,
    .speakers {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      line-height: normal;
      gap: 0.25em 1em;
      align-items: baseline;
      margin-block-start: 0.5em;
    }
    .inline {
      margin-block-start: 0.5em;
    }
    .break {
      flex-basis: 100%;
      height: 0;
      display: block;
    }
    .content {
      display: flex;
      flex-direction: column;
    }
  }
</style>
