---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MediaGrid from "../../components/MediaGrid.astro";
import PodcastGrid from "../../components/PodcastGrid.astro";
import SectionHeader from "../../components/SectionHeader.astro";
import { convertToSlug } from "../../utils/convertToSlug";
import { allMediaFilteredAndSorted, tags } from "../../utils/mediaCollection";

export async function getStaticPaths() {
  return tags.map((tag) => {
    if (!tag)
      return {
        params: { tag },
      };
    const filteredPosts = allMediaFilteredAndSorted
      .filter((post) => post.data.tags?.includes(tag))
      .sort(
        (a, b) =>
          new Date(b.data.publishedAt).getTime() -
          new Date(a.data.publishedAt).getTime(),
      ); // Sorting by date, most recent first
    return {
      params: { slug: convertToSlug(tag) },
      props: { posts: filteredPosts, tag },
    };
  });
}

const { slug } = Astro.params;
const { posts, tag } = Astro.props;

// Separate posts by media type
const podcastPosts = posts.filter(post => 
  post.collection === 'podcast'
);

const videoPosts = posts.filter(post => 
  post.collection === 'media'
);

const videoCount = videoPosts.length;
const podcastCount = podcastPosts.length;
---

<BaseLayout sidebar={false} metadataProps={{ title: tag }}>
  <h1>{tag}</h1>
   {videoPosts && videoPosts.length > 0 && 
    <SectionHeader
    title={`${videoCount} videos`}
    padding={false}
  />
    <MediaGrid media={videoPosts} />
     <PodcastGrid media={videoPosts} />
  }
   {podcastPosts && podcastPosts.length > 0 &&
       <SectionHeader
    title={`${podcastCount} podcasts`}
    padding={false}
  />
     <PodcastGrid media={podcastPosts} />
  }
</div>


<style>
  h2 {
    margin-block: 0 2rem;
  }
  .breadcrumb {
    text-decoration: none;
  }
  .breadcrumb:hover {
    text-decoration: underline;
  }
  .breadcrumb [data-icon] {
    position: relative;
    top: 0.2em;
    margin-right: 0.25em;
    color: var(--tagCount-icon);
  }
  @media (max-width: 1024px) {
    h2,
    .breadcrumb {
      padding-left: 1rem;
      margin: 0;
    }
  }
</style>
