---
import { getCollection } from "astro:content";
import VideoCard from "../../components/VideoCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MediaGrid from "../../layouts/MediaGrid.astro";

const media = (await getCollection("media"))
  .filter((post) => {
    return !post.data.draft;
  })
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf());
---

<BaseLayout sidebar={false} baseHeadProps={{ title: "All media" }}>
  <div class="title">
    <h1>All media</h1>
  </div>
  <MediaGrid>
    {
      media.map((media) => (
        <VideoCard
          title={media.data.title}
          poster={media.data.poster}
          duration={media.data.duration}
          slug={media.slug}
          publishedAt={media.data.publishedAt}
        />
      ))
    }
  </MediaGrid>
</BaseLayout>

<style>
  h2 {
    padding: 0;
    margin: 2rem 1rem 0;
    font-size: 1.5rem;
  }
  .title {
    margin: 3rem auto 0;
    padding: 1rem;
    line-height: 1;
  }
  .title h1 {
    margin: 0;
    text-align: center;
  }
</style>
