---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import VideoDuration from "../components/VideoDuration.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import { Image } from "astro:assets";
const media = (await getCollection("media")).sort(
  (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf()
);
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="fade">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 100%;
        max-width: 1600px;
        margin: auto;
        padding: 1rem;
      }
      @media screen and (min-width: 768px) {
        main {
          padding: 2rem;
        }
      }

      /* Mobile layout - 1 column */
      .media-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
      }

      /* Tablet layout - 2 columns */
      @media screen and (min-width: 768px) {
        .media-grid {
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
        }
      }

      /* Larger screens - 3 columns */
      @media screen and (min-width: 1024px) {
        .media-grid {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      /* Larger screens - 3 columns */
      @media screen and (min-width: 1200px) {
        .media-grid {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      /* Larger screens - 3 columns */
      @media screen and (min-width: 1400px) {
        .media-grid {
          grid-template-columns: repeat(5, 1fr);
        }
      }

      /* Style for each media item */
      .media-item {
        margin: 0;
      }

      @media screen and (min-width: 768px) {
      }

      .media-link {
        text-decoration: none;
        display: flex;
        gap: 1rem;
      }

      @media screen and (max-width: 768px) {
        .media-link {
          display: grid;
          grid-template-columns: 2fr 3fr;

          /* TODO: make the videos into rows which use columns on mobile
          grid-template-columns: repeat(5, 1fr); */
        }
      }

      @media screen and (min-width: 768px) {
        .media-link {
          flex-direction: column;

          /* TODO: make the videos into rows which use columns on mobile
          grid-template-columns: repeat(5, 1fr); */
        }
      }

      .media-content {
      }

      .media-image {
        max-width: 100%;
        height: auto;
        aspect-ratio: auto 16/9;
        overflow: hidden;
        position: relative;
      }

      @media screen and (max-width: 768px) {
        .media-image {
        }
      }

      .media-image img {
        width: 100%;
        height: 100%;
        aspect-ratio: auto 16/9;
        object-fit: cover;
      }

      .title {
        font-size: 16px;
        margin: 10px 0;
      }

      .date {
        font-size: 14px;
        color: #888;
      }

      .duration {
        font-variant: small-caps;
        position: absolute;
        bottom: 0.4rem;
        right: 0.4rem;
        display: inline-block;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0.7rem;
        box-sizing: border-box;
        line-height: 1em;
        padding: 0.5em 0.5em 0.35em;
        border-radius: 0.4em;
        letter-spacing: 0.05em;
      }

      @media screen and (min-width: 768px) {
        .duration {
          font-size: 0.8rem;
          bottom: 0.5rem;
          right: 0.5rem;
        }
      }
    </style>
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main transition:animate="fade">
      <section>
        <div class="media-grid">
          {
            media.map((media) => (
              <div class="media-item">
                <a href={`/${media.slug}`} class="media-link">
                  <div class="media-image">
                    <Image
                      width={386}
                      src={media.data.poster}
                      alt={media.data.title}
                      transition:name={media.slug}
                    />
                    {media.data.duration && (
                      <div class="duration">
                        <VideoDuration durationStr={media.data.duration} />
                      </div>
                    )}
                  </div>
                  <div class="media-content">
                    <h4 class="title">{media.data.title}</h4>
                    <p class="date">
                      <FormattedDate date={media.data.publishedAt} />
                    </p>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
