---
interface Props {
  title: string;
  link?: string;
  linkLabel?: string;
  padding?: boolean;
  anchor?: string;
}

const { title, link, linkLabel, padding,anchor } = Astro.props;
---

<div class:list={["section-heading", { "section-heading--padding": padding, "section-heading--loose": padding }]}>
  <h2 id={anchor} class="section-heading__title section-heading__title--large">{title}</h2>
  {
    link && (
      <a href={link} title={`View more ${title}`} class="section-heading__link">
        {linkLabel}
      </a>
    )
  }
</div>
