---
import FormattedDate from "../components/FormattedDate.astro";
import VideoDuration from "../components/VideoDuration.astro";
import type { CollectionEntry } from "astro:content";

import { Image } from "astro:assets";
type Media = CollectionEntry<"media">;
type Props = Media["data"] & { slug?: Media["slug"] };

const {
  title,
  description,
  publishedAt,
  updatedDate,
  image,
  duration,
  videoUrl,
  poster,
  slug,
  tags,
  categories,
} = Astro.props;
---

<style>
  /* Style for each media item */
  .media-item {
    margin: 0;
  }
  .media-link {
    text-decoration: none;
    display: flex;
    gap: 1rem;
  }

  @media screen and (max-width: 768px) {
    .media-link {
      display: grid;
      grid-template-columns: 2fr 3fr;

      /* TODO: make the videos into rows which use columns on mobile
          grid-template-columns: repeat(5, 1fr); */
    }
  }

  @media screen and (min-width: 768px) {
    .media-link {
      flex-direction: column;

      /* TODO: make the videos into rows which use columns on mobile
          grid-template-columns: repeat(5, 1fr); */
    }
  }

  .media-image {
    max-width: 100%;
    height: auto;
    aspect-ratio: auto 16/9;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 768px) {
    .media-image {
      border-radius: 4px;
    }
  }

  .media-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: auto 16/9;
    object-fit: cover;
  }

  .title {
    font-size: 16px;
    margin: 2px 0;
  }

  @media screen and (min-width: 768px) {
    .title {
      margin: 10px 0;
    }
  }

  .date {
    font-size: 14px;
    color: #888;
  }
  .duration {
    font-variant: small-caps;
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    display: inline-block;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 0.7rem;
    box-sizing: border-box;
    line-height: 1em;
    padding: 0.5em 0.5em 0.35em;
    border-radius: 0.4em;
    letter-spacing: 0.05em;
  }

  @media screen and (min-width: 768px) {
    .duration {
      font-size: 0.8rem;
      bottom: 0.5rem;
      right: 0.5rem;
    }
  }
</style>
<div class="media-item">
  <a href={`/${slug}`} class="media-link">
    <div class="media-image">
      <Image
        width={386}
        src={poster}
        alt=" "
        transition:name={slug}
        transition:animate="initial"
      />
      {
        duration && (
          <div class="duration">
            <VideoDuration durationStr={duration} />
          </div>
        )
      }
    </div>
    <div class="media-content" transition:animate="fade">
      <h4 class="title">{title}</h4>
      <span class="date">
        <FormattedDate date={publishedAt} />
      </span>
    </div>
  </a>
</div>
