---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MediaGrid from "../../components/MediaGrid.astro";
import PodcastGrid from "../../components/PodcastGrid.astro";
import SectionHeader from "../../components/SectionHeader.astro";
import { convertToSlug } from "../../utils/convertToSlug";
import { allMediaFilteredAndSorted, speakers } from "../../utils/mediaCollection";
export async function getStaticPaths() {
  return speakers.map((speaker) => {
    if (!speaker)
      return {
        params: { speaker },
      };
    const filteredPosts = allMediaFilteredAndSorted
      .filter(
        (post) => !post.data.draft && post.data.speakers?.includes(speaker),
      )
      .sort(
        (a, b) =>
          new Date(b.data.publishedAt).getTime() -
          new Date(a.data.publishedAt).getTime(),
      ); // Sorting by date, most recent first

    return {
      params: {
        slug: convertToSlug(speaker),
      },
      props: { posts: filteredPosts, speaker },
    };
  });
}

const { slug } = Astro.params;
const { posts, speaker } = Astro.props;

// Separate posts by media type
const podcastPosts = posts.filter(post => 
  post.collection === 'podcast'
);

const videoPosts = posts.filter(post => 
  post.collection === 'media'
);

  const videoCount = videoPosts.length;

  const podcastCount = podcastPosts.length;
---

<BaseLayout sidebar={true} metadataProps={{ title: speaker }}>
  <h1>{speaker}</h1>
   {podcastPosts && podcastPosts.length > 0 && 
  <SectionHeader
    title={`${podcastCount} podcasts`}
    padding={false}
  />
  <PodcastGrid media={podcastPosts} />
  }
  {videoPosts && videoPosts.length > 0 && 
   <SectionHeader
    title={`${videoCount} videos`}
    padding={false}
  />
  <MediaGrid media={videoPosts} />
  }
</BaseLayout>

<style>
  h2 {
    margin-block: 0 2rem;
  }
  .breadcrumb {
    text-decoration: none;
  }
  .breadcrumb:hover {
    text-decoration: underline;
  }
  .breadcrumb [data-icon] {
    position: relative;
    top: 0.2em;
    margin-right: 0.25em;
    color: var(--tagCount-icon);
  }
  @media (max-width: 1024px) {
    h2,
    .breadcrumb {
      padding-left: 1rem;
      margin: 0;
    }
  }
</style>
