---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MediaGrid from "../../components/MediaGrid.astro";
import PodcastGrid from "../../components/PodcastGrid.astro";
import SectionHeader from "../../components/SectionHeader.astro";
import { convertToSlug } from "../../utils/convertToSlug";
import { allMediaFilteredAndSorted, speakers } from "../../utils/mediaCollection";
export async function getStaticPaths() {
  return speakers.map((speaker) => {
    if (!speaker)
      return {
        params: { speaker },
      };
    const filteredPosts = allMediaFilteredAndSorted
      .filter(
        (post) => post.data.speakers?.includes(speaker),
      )
      .sort(
        (a, b) =>
          new Date(b.data.publishedAt).getTime() -
          new Date(a.data.publishedAt).getTime(),
      ); // Sorting by date, most recent first

    return {
      params: {
        slug: convertToSlug(speaker),
      },
      props: { posts: filteredPosts, speaker },
    };
  });
}

const { slug } = Astro.params;
const { posts, speaker } = Astro.props;

// Separate posts by media type
const podcastPosts = posts.filter(post => 
  post.collection === 'podcast'
);

const videoPosts = posts.filter(post => 
  post.collection === 'media'
);

const videoCount = videoPosts.length;
const podcastCount = podcastPosts.length;

---

<BaseLayout sidebar={false} metadataProps={{ title: speaker }}>
  <h1>{speaker}</h1>
  <div class="container">
   {videoPosts && videoPosts.length > 0 && 
    <SectionHeader
    title={`${videoCount} videos`}
    padding={true}
  />
    <MediaGrid media={videoPosts} layoutType="list"/>
  }</div>
   {podcastPosts && podcastPosts.length > 0 &&
       <SectionHeader
    title={`${podcastCount} podcasts`}
    padding={true}
  />
     <PodcastGrid media={podcastPosts} />
  }
</div>




</BaseLayout>

<style>
  h1 {
    margin: 0 1rem;
  }
  h2 {
    margin-block: 0 2rem;
  }
  .container {
    margin-bottom: 2rem;
  }

  @media (max-width: 1024px) {
    h2,
    .breadcrumb {
      padding-left: 1rem;
      margin: 0;
    }
  }
</style>
