---
import BaseLayout from "../../layouts/BaseLayout.astro";
import MediaGrid from "../../components/MediaGrid.astro";
import PodcastGrid from "../../components/PodcastGrid.astro";
import SectionHeader from "../../components/SectionHeader.astro";
import { convertToSlug } from "../../utils/convertToSlug";
import { allMediaFilteredAndSorted, speakers } from "../../utils/mediaCollection";
export async function getStaticPaths() {
  return speakers.map((speaker) => {
    if (!speaker)
      return {
        params: { speaker },
      };
    const filteredPosts = allMediaFilteredAndSorted
      .filter(
        (post) => post.data.speakers?.includes(speaker),
      )
      .sort(
        (a, b) =>
          new Date(b.data.publishedAt).getTime() -
          new Date(a.data.publishedAt).getTime(),
      ); // Sorting by date, most recent first

    return {
      params: {
        slug: convertToSlug(speaker),
      },
      props: { posts: filteredPosts, speaker },
    };
  });
}

const { slug } = Astro.params;
const { posts, speaker } = Astro.props;

// Separate posts by media type
const podcastPosts = posts.filter(post => 
  post.collection === 'podcast'
);

const videoPosts = posts.filter(post => 
  post.collection === 'media'
);

const videoCount = videoPosts.length;
const podcastCount = podcastPosts.length;
const totalCount = podcastPosts.length + videoPosts.length;

---

<BaseLayout sidebar={false} metadataProps={{ title: speaker }}>
  <h1>{speaker}</h1>
  <div class="header-links">
    <soan class="total">{totalCount} items</soan>
     {videoPosts && videoPosts.length > 0 && <a href="#video">{videoCount} videos</a>}
     {podcastPosts && podcastPosts.length > 0 &&
    <a href="#podcast">{podcastCount} podcasts</a>}
  </div>
  <div class="container">
   {videoPosts && videoPosts.length > 0 && 
    <a name="video"></a><SectionHeader
    title={`${videoCount} videos`}
    padding={true}
  />
    <MediaGrid media={videoPosts} layoutType="list"/>
  }</div>
   {podcastPosts && podcastPosts.length > 0 &&
       <a name="podcast"></a><SectionHeader
    title={`${podcastCount} podcasts`}
    padding={true}
  />
     <PodcastGrid media={podcastPosts} />
  }
</div>




</BaseLayout>

<style>
 
  h1 {
    margin: 0rem 1rem 0;
  }
  h2 {
    margin-block: 0 2rem;
  }
  .container {
    margin-bottom: 2rem;
  }
  .header-links {
    margin: 0rem 1rem 2rem;
    display: flex;
    gap: 1em;
    font-size: 0.9em;
    font-weight: 600;
    color: var(--tx-3)
  }
  .header-links a {
    text-decoration: none;
  }

  @media (max-width: 1024px) {  
  h1 {
    margin: 1rem 1rem 0;
  }
    h2,
    .breadcrumb {
      padding-left: 1rem;
      margin: 0;
    }
  }
</style>
