---
// src/components/media/MediaImage.astro

import { formatDuration } from "../../utils/formatDuration";
import Badge from '../Badge.astro';

export interface Props {
  src?: string;
  alt: string;
  duration: string;
  ratio?: 'square' | 'video';
  size?: 'small' | 'medium' | 'large' | 'thumbnail';
  class?: string;
  shadow?: 'shadow' | 'no-shadow';
}

const { src, alt, size = 'medium', duration, shadow = 'shadow', ratio = 'square', class: className = '' } = Astro.props;
---

<div class={`media-image ${size} ${ratio} ${shadow} ${className}`}>
  <img src={src} alt={alt} />
  {duration && 
        <Badge 
            label={formatDuration(duration)}}
            variant='podcast-duration' 
          />}
</div>

<style>
  .media-image {
    position: relative;
    box-sizing: border-box;
    display: flex;
    
  }
  .media-image.no-shadow img{
    box-shadow: none;
  }
  .media-image.shadow img{
    box-shadow: 0 4px 8px var(--image-shadow), 
   0 0px 0px var(--image-shadow);
  }
  .media-image img {
    border-radius: 6px;
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
.media-image.square img{
    aspect-ratio: auto 1/1;
}
.media-image.video img{
    aspect-ratio: auto 16/9;
}
  /* Size variants */
  .media-image.thumbnail img{
    width: 70px;
    height: auto;
  }

  .media-image.small img{
    width: 120px;
    height: auto;
  }

  .media-image.medium img{
    width: 300px;
    height: auto;
  }

  .media-image.large img{
    width: 360px;
    height: auto;
  }

  /* Special class for podcast artwork in hero */
  .podcast-artwork img{
    border-radius: 12px;
  }

  .duration {
    font-variant: small-caps;
    position: absolute;
    display: inline-block;
    color: var(--tx);
    background: var(--bg-2);
    box-sizing: border-box;
    line-height: 1em;
    padding: 0.5em 0.5em 0.35em;
    border-radius: 0.4em;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
    bottom: 0.5rem;
    right: 0.5rem;
  }

  @media screen and (max-width: 1024px) {
    .podcast-artwork {
      width: 150px;
      height: 150px;
    }
  }
</style>
