---
import { Icon } from "astro-icon/components";
import type { MetaDataItem } from "../types/metadata";

interface Props {
  items: MetaDataItem[];
  class?: string;
}

const { items, class: className = '' } = Astro.props;
---

<div class={`meta-data ${className}`.trim()}>
  {
    items.map((item) => (
      <span class="inline">
        <Icon name={item.icon} size={20} />
        {item.link ? (
          <a
            href={item.link}
            class={item.filter ? item.filter.toLowerCase() : undefined}
            {...(item.filter && {
              ["data-pagefind-filter"]: item.filter,
              ["data-pagefind-weight"]: item.weight || 5,
            })}
          >
            {item.content}
          </a>
        ) : (
          <span>{item.content}</span>
        )}
      </span>
    ))
  }
</div>
