---
// src/components/media/MetaItem.astro
import { Icon } from "astro-icon/components";
import { convertToSlug } from "../../utils/convertToSlug";

export interface Props {
  icon?: string;
  iconSize?: number;
  label?: string;
  type?: "inline" | "block" | undefined;
  class?: string;
  speakers?: string[];
  tags?: string[];
}

const {
  speakers,
  tags,
  icon,
  iconSize = 20,
  label,
  type = "inline",
  class: className = "",
} = Astro.props;
---

<div class:list={["meta-item", `meta-item--${type}`, className]}>
  {icon && <Icon name={icon} size={iconSize} />}
  {label && <span class="meta-label">{label}</span>}
  <div class="meta-content">
    <slot />
    {(
        // Otherwise (if showSlug does NOT exist)
         <> {/* Use a fragment to group the speakers content */}
        {speakers && speakers.length > 0 && (
          <div class="meta-links meta-links--inline">
            {speakers.map((speaker, index) => (
              <>
                <a
                  href={`/speakers/${convertToSlug(speaker)}/`}
                  class="meta-links__item"
                  data-pagefind-filter="speaker"
                  data-pagefind-weight="5"
                >{speaker}</a>{/* Add a comma if it's not the last item */}
                {index < speakers.length - 1 && <span class="meta-links__separator">,</span> }
              </>
            ))}
          </div>
        )}
      </>
      )
    }
      {(
        // Otherwise (if showSlug does NOT exist)
         <> {/* Use a fragment to group the speakers content */}
        {tags && tags.length > 0 && (
          <div class="meta-links meta-links--inline">
            {tags.map((tag, index) => (
              <>
                <a
                  href={`/tags/${convertToSlug(tag)}/`}
                  class="meta-links__item"
                  data-pagefind-filter="tag"
                  data-pagefind-weight="5"
                >{tag}</a>{/* Add a comma if it's not the last item */}
                {index < tags.length - 1 && <span class="meta-links__separator">,</span> }
              </>
            ))}
          </div>
        )}
      </>
      )
    }
  </div>
</div>
