---
import { YouTube } from "@astro-community/astro-embed-youtube";
import type { CollectionEntry } from "astro:content";
import VideoDuration from "../components/VideoDuration.astro";
import FormattedDate from "../components/FormattedDate.astro";

import { Image } from "astro:assets";
type Media = CollectionEntry<"media">;
type Props = Media["data"] & { slug?: Media["slug"] };

const {
  title,
  description,
  publishedAt,
  updatedDate,
  image,
  duration,
  videoUrl,
  poster,
  slug,
  tags,
  speakers,
  categories,
} = Astro.props;
---

<style>
  .hero-image {
    position: relative;
    width: 100%;
    background-color: #16161d;
    overflow: hidden;
    height: auto;
  }
  .hero-image .background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    aspect-ratio: auto 16/9;
    overflow: hidden;
    object-fit: cover;
    filter: blur(1rem);
    opacity: 0.3;
  }
  .hero-image .video-embed {
    border-radius: 0px;
    margin: 0 auto;
    z-index: 100;
    aspect-ratio: auto 16/9;
    width: 100%;
  }
  @media screen and (max-width: 1023px) {
    .hero-image .video-embed {
      width: 100%;
      max-width: 720px;
    }
  }
  @media screen and (min-width: 1024px) {
    .hero-image .video-embed {
      max-width: 900px;
    }
  }

  .prose {
    width: 100%;
    max-width: 60ch;
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
  .title {
    margin: 0 auto;
    padding: 2.5rem 1rem 0.5rem;
    text-align: center;
    line-height: 1;
    width: 100%;
    max-width: 85ch;
  }
  .title h1 {
    margin: 0;
  }
  .meta-data {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  .meta-data a {
    color: rgb(var(--gray-dark));
  }
  .meta-data span {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
</style>

<article>
  <div class="hero-image" transition:animate="none">
    <YouTube
      id={videoUrl ?? ""}
      class="video-embed"
      transition:name={slug}
      transition:animate="initial"
      poster={poster.src}
    />
    <Image width={32} src={poster} alt=" " class="background" />
  </div>
  <div class="title">
    <h1>{title}</h1>
  </div>
  <div class="prose">
    <div class="meta-data">
      <span>🗓️ <FormattedDate date={publishedAt} /></span>
      <span
        >🕔
        <VideoDuration durationStr={duration} /></span
      >
    </div>

    <hr />
    <slot />
    <hr />
    <div class="meta-data">
      <div class="tags">
        🏷️
        {
          tags.map((tag) => (
            <a href={`/tags/${tag}`} class="tag">
              {tag}
            </a>
          ))
        }
      </div>
      <div class="tags">
        👤
        {
          speakers.map((speaker) => (
            <a href={`/speakers/${speaker}`} class="speaker">
              {speaker}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</article>
