---
// src/layouts/PodcastLayout.astro
import { repository } from "../../package.json";
import Hero from "../components/media/Hero.astro";
import MetaList from "../components/media/MetaList.astro";
import MetaItem from "../components/media/MetaItem.astro";
import SpeakerList from "../components/media/SpeakerList.astro";
import EpisodeGrid from "../components/episodes/EpisodeGrid.astro";
import type { BasePodcastProps } from "../types/media";

export type Props = BasePodcastProps;

const { 
  title, 
  image, 
  slug, 
  speakers, 
  episodeCount, 
  explicit,
  hasEpisodeImage,
  episodes,
  showSlug,
  podcastTitle 
} = Astro.props;
---

<article data-pagefind-body data-pagefind-sort>
  <Hero 
    title={title} 
    image={image}
    hasEpisodeImage={hasEpisodeImage}
    showSlug={showSlug}
    podcastTitle={podcastTitle}
    data-pagefind-meta={`image:${image?.src}`}
  />
  
  <div class="content-shell">
    <MetaList>
      <MetaItem icon="fluent:headphones-20-filled" type="inline">
        {episodeCount} episodes
      </MetaItem>
      
      {explicit && (
        <MetaItem type="inline">
          <span class="explicit meta-badge--explicit">Explicit</span>
        </MetaItem>
      )}

      {speakers && (
        <SpeakerList speakers={speakers} />
      )}
      
      <MetaItem icon="fluent:edit-20-filled" type="inline">
        <a href={`${repository.url}/tree/main/src/content/media/${slug}/index.mdx`}>
          Edit on GitHub
        </a>
      </MetaItem>
    </MetaList>
    
    <div class="content-shell__prose" data-pagefind-weight="3">
      <slot />
       {episodes && (
      <EpisodeGrid episodes={episodes} />
      )}
    </div>
  </div>
</article>

<style>
  :global(.title) {
    margin: 0 auto 0;
  }

  :global(.content-shell__title) {
    margin-bottom: 1em;
  }

  .content-shell__prose {
    margin: auto;
  }
</style>
